body{
    background: #F5DFBB;
    margin: 0;
}
.nav-bar{
    width: 100%;
    height: 50px;
}
.first-line{
    height: 40px;
    background: #F2542D;
}
.second-line{
    height: 50px;
    background: #562C2C;

}


.menu-list{
    list-style: none;
    line-height: 50px;
    margin: 0;
}

.menu-list li{
    display: inline;
}