
body{
    margin: 0;
    background: #F1EDEE;
    font-family: 'Lato', sans-serif;
}
.nav-bar {
    list-style: none;
    margin: 0;
    float: right;
    line-height: 50px;
    width: 100%;

}

.first-line{
    height: 50px;
    background: #F1EDEE;
    color: black;

}

.second-line{
    height: 50px;
    background: #78818a;
}

.menu-list li{
    display: inline;
    margin: 0 20px 0 30px;

}
.menu-list{
    list-style: none;
    margin: 0;
    float: right;

}
.second-line img{
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.first-line i{
    padding: 5px;
    height: 40px;
    width: 40px;
    margin-left: 30px;
}

.obrazek img{
    height: 100%;
    width: 100%;
}


.napis1 h1{
    position: absolute;
    top: 220px;
    left: 150px;
    color: white;
    font-size: 50px;
}
.napis2 h1{
    position: absolute;
    top: 300px;
    left: 150px;
    color: white;
    font-size: 50px;
}
.opis{
    padding: 20px;
}



