
body{
    margin: 0;
    background: #F1EDEE;
    font-family: 'Lato', sans-serif;
}
.nav-bar {
    width: 100%;

}

.first-line{
    height: 50px;
    background: #F1EDEE;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.second-line{
    display: flex;
    height: 50px;
    background: #78818a;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: space-between;
    align-items: center;

}


.menu-list{
    display: flex;
    list-style: none;
    justify-content: flex-end;
    flex-direction: row;
    gap: 30px;
    margin: 0;
    margin-right: 40px;


}
.second-line img{
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
}
.first-line i{
    padding: 5px;
    margin-left: 30px;
}

.obrazek{
    height: 600px;
    width: 100%;
    background-image: url("../img/halo.jpg");
    background-position-y: center;

}


.napis1 h1{
    position: absolute;
    top: 220px;
    left: 150px;
    color: white;
    font-size: 50px;
}
.napis2 h1{
    position: absolute;
    top: 300px;
    left: 150px;
    color: white;
    font-size: 50px;
}
.opis{
    padding: 20px;
}


